* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.801),
      rgba(40, 180, 133, 0.801)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    .logo {
      height: 35px;
    }
  }

  &__text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    backface-visibility: hidden;
    flex-direction: column;

    .header-primary {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      color: white;
      margin-bottom: 60px;

      &--main {
        font-size: 60px;
        text-align: center;
        letter-spacing: 35px;
        font-weight: 400;
        margin-right: -35px;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }

      &--sub {
        font-size: 20px;
        letter-spacing: 18px;
        margin-right: -18px;
        animation: moveInRight 1s ease-in;
      }
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  padding: 15px 35px;
  border-radius: 100px;

  &--white {
    background-color: #fff;
    color: #777;

    &::after {
      background-color: #fff;
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 1 0px rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}
