// .row {
//   max-width: $grid-width;
//   margin: 0 auto;

//   &:not(:last-child) {
//     margin-bottom: $gutter-vertical;
//   }

//   @include clearfix;

//   [class^="col-"] {
//     float: left;

//     &:not(:last-child) {
//       margin-right: $gutter-horizontal;
//     }
//   }

//   .col-1-of-2 {
//     width: calc((100% - #{$gutter-horizontal}) / 2);
//   }

//   .col-1-of-3 {
//     width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
//   }

//   .col-1-of-4 {
//     width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
//   }

//   .col-2-of-3 {
//     width: calc(
//       (2 * ((100% - 2 * #{$gutter-horizontal}) / 3)) + #{$gutter-horizontal}
//     );
//   }

//   .col-2-of-4 {
//     width: calc(
//       (2 * ((100% - 3 * #{$gutter-horizontal}) / 4)) + #{$gutter-horizontal}
//     );
//   }

//   .col-3-of-4 {
//     width: calc(
//       (3 * ((100% - 3 * #{$gutter-horizontal}) / 4)) + 2 * #{$gutter-horizontal}
//     );
//   }
// }

// Custom flexbox grids

.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  [class^="col-"] {
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667;
}

.col-xs-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-8 {
  flex-basis: 66.66666667;
  max-width: 66.66666667;
}

.col-xs-7 {
  flex-basis: 58.33333333;
  max-width: 58.33333333;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
